* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_4 {
  width: 100%;
  height: 144px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v2_5 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 40px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_8 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 507px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_5 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 933px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_7 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 674px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2_6 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 1145px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_52 {
  width: 100%;
  height: 63px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 960px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_53 {
  width: 478px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 979px;
  left: 481px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v5_9 {
  width: 282px;
  height: 86px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 360px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_13 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 776px;
  left: 402px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_17 {
  width: 282px;
  height: 86px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 831px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_15 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 776px;
  left: 845px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_3 {
  width: 719px;
  height: 194px;
  background: url("../images/v5_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 360px;
  overflow: hidden;
}
.v5_5 {
  width: 788px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 447px;
  left: 326px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_7 {
  width: 727px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 541px;
  left: 356px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
