* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_76 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_88 {
  width: 100%;
  height: 63px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 960px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_89 {
  width: 478px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 979px;
  left: 481px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_128 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 480px;
  left: 637px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v9_129 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 327px;
  left: 665px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v9_133 {
  width: 668px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 385px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v9_134 {
  width: 668px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 385px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v13_2 {
  width: 282px;
  height: 86px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 690px;
  left: 578px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v13_3 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 710px;
  left: 592px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_90 {
  width: 100%;
  height: 144px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v13_91 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 40px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_92 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 507px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_93 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 933px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_94 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 674px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_95 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 1145px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
