* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_19 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_30 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 632px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_38 {
  width: 924px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 287px;
  left: 238px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_43 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 402px;
  left: 649px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_44 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 505px;
  left: 199px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_46 {
  width: 574px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 620px;
  left: 413px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v5_47 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 712px;
  left: 112px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_58 {
  width: 100%;
  height: 63px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 960px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v5_59 {
  width: 478px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 979px;
  left: 481px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v13_69 {
  width: 100%;
  height: 144px;
  background: rgba(255,188,208,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v13_70 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 40px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_71 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 507px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_72 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 933px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_73 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 674px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_74 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 48px;
  left: 1145px;
  font-family: ADLaM Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
